html{
  background: rgb(246, 246, 246);
}
* {
  box-sizing: border-box !important;
}

// top-tool的高度
$topToolHeight: 1rem;
$themeBg: rgb(58, 130, 212);

// 头部工具栏
.top-tool {
  width: 100%;
  height: $topToolHeight;
  line-height: $topToolHeight;
  // border: 1px solid lightblue;
  background: $themeBg;
  color: white;
  padding: 0.1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: fixed;
  top: 0;
  font-size: 0.47rem;
  z-index: 1000;
}
// 所有的页面块
.page {
  height: 100vh;
  overflow-y: scroll;
  padding-top: $topToolHeight - 0.01rem;
  padding-bottom: 9vh;
  font-size: 1rem;

  background: rgb(246, 246, 246);
}

// cell__value绿色字
.green {
  span {
    color: #5fb878;
  }
}
.green-color{
  color:rgb(65, 184, 131);
}
// cell-group间隔
.interval {
  height: 0.5rem;
}
// 文字水平居中
.center{
  text-align: center;
}
// 距下1rem
.mb05r{
  margin-bottom: .5rem;
}